/*
font-family: 'Lato', sans-serif; ///HEADINGS
font-family: 'Open Sans', sans-serif; ////TEXT

#264753 base color (green-gray)
#08242F dark base color (dark green-blue-gray)
#597983 Light base color (light green-blue-gray)
#846F39 Golden accent color
#AA935A Pale golden accent color

*/


/*----------------------*/
/*--- GLOBAL STYLING ---*/
/*----------------------*/

* {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-family: 'Lato', sans-serif;
    font-size: 5rem;

}

h2 {
    font-family: 'Lato', sans-serif;
    font-size: 3rem;
}

/*---------*/
/*---NAV---*/
/*---------*/


/*------------*/
/*--- HOME ---*/
/*------------*/


/*------------*/
/*--- WORK ---*/
/*------------*/


/*--------------*/
/*--- ABOUT --- */
/*--------------*/


/*---------------*/
/*--- CONTACT ---*/
/*---------------*/


/*------------*/
/*---FOOTER---*/
/*------------*/